<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Rural Employment Portal</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'admin/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'admin/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'admin/css/style.css'%}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <center>
                <h2 style="font-size: 28px; line-height: 1.2;">
                    Rural Employment<br>Portal
                </h2>
            </center>
        </div>
        
        
        
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                               
                        
                            <div class="drop-down animated fadeIn dropdown-menu">
                                
                                <div class="dropdown-content-body">
                                   
                                </div>
                            </div>
                        </li>
                        
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2"></span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        
                                        
                                       
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex"><a href="http://127.0.0.1:8000/adminn" > <span>HOME</span></a>
                        <li class="icons dropdown d-none d-md-flex"><a href="../logout" > <span>LOGOUT</span></a>
                           
                            
                        </li>
                        <li class="icons dropdown">
                            
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        
                                           
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->




        
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                        <ul aria-expanded="false">
                           
                            
                        </ul>
                    </li>
                    
                        <ul aria-expanded="false">


                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class="icon-menu menu-icon"></i><span class="nav-text">Registeration</span>
                                </a>
                                <ul aria-expanded="false">
                                   
                                    <li><a href="../panchayath" aria-expanded="false">PANCHAYATH REGISTERATION</a></li>
                                    
                                </ul>
                            </li>
                          
                    
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                           
                            <li><a href="../panchayathview" aria-expanded="false">PANCHAYATH LIST</a></li>
                            <li><a href="../feedbackadmin" aria-expanded="false">FEEDBACK OF EMPLOYEE</a></li>
                            <li><a href="../complaintsview" aria-expanded="false">COMPLAINT LIST</a></li>
                            <li><a href="../employeeviewad2" aria-expanded="false">EMPLOYEE VIEW</a></li>
                        </ul>
                    </li>
                    
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Panchayath Registered</h3>
                                <div class="d-inline-block">
                                   <CENTER> <h2 class="text-white">{{ph}}</h2></CENTER>
                                   <a href="adminpanchayath" class="text-white">View</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">ADS Registered</h3>
                                <div class="d-inline-block">
                                <h2 class="text-white">{{ad}}</h2>
                                <a href="adminviewad" class="text-white">View</a>

                                   
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Employee Registered</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{wr}}</h2>
                                    <a href="adminemployee" class="text-white">View</a>

                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Public Registered</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{pu}}</h2>
                                    <a href="adminpublic" class="text-white">View</a>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

               
             <!-- Homepage Content Start -->
<section class="container py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>Welcome to the Rural Employment Portal</h1>
            <p class="lead">Empowering Rural India, One Opportunity at a Time</p>
            <p>The Rural Employment Portal is your gateway to a brighter future. We're committed to providing rural households with sustainable employment opportunities, enhancing livelihood security, and fostering community development.</p>
            <p>Our mission is to make a difference in the lives of those who depend on unskilled labor. Through the Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA), we offer at least 100 days of guaranteed wage employment every year, creating a brighter tomorrow for rural India.</p>
            
        </div>
    </div>
</section>
<!-- Homepage Content End -->
<br>
<br>
<br>

<!-- Key Features Section Start -->
<section class="bg-light py-5 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="feature-icon">
                    <i class="bi bi-calendar3"></i>
                </div>
                <h3>Guaranteed Employment</h3>
                <p>Access at least 100 days of employment every year, creating stability for rural households.</p>
            </div>
            <div class="col-lg-4">
                <div class="feature-icon">
                    <i class="bi bi-currency-exchange"></i>
                </div>
                <h3>Fair Wages</h3>
                <p>Receive wages at par with the minimum wage of the state, ensuring fair compensation.</p>
            </div>
            <div class="col-lg-4">
                <div class="feature-icon">
                    <i class="bi bi-people"></i>
                </div>
                <h3>Community Development</h3>
                <p>Participate in projects that improve rural infrastructure and benefit your local community.</p>
            </div>
        </div>
    </div>
</section>
<!-- Key Features Section End -->





<br>
<br>
<br>
<br>
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
               <center> <p>&copy; 2023 Rural Employment Portal</p></center>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'admin/plugins/common/common.min.js'%}"></script>
    <script src="{% static 'admin/js/custom.min.js'%}"></script>
    <script src="{% static 'admin/js/settings.js'%}"></script>
    <script src="{% static 'admin/js/gleek.js'%}"></script>
    <script src="{% static 'admin/js/styleSwitcher.js'%}"></script>

    <!-- Chartjs -->
    <script src="{% static 'admin/plugins/chart.js/Chart.bundle.min.js'%}"></script>
    <!-- Circle progress -->
    <script src="{% static 'admin/plugins/circle-progress/circle-progress.min.js'%}"></script>
    <!-- Datamap -->
    <script src="{% static 'admin/plugins/d3v3/index.js'%}"></script>
    <script src="{% static 'admin/plugins/topojson/topojson.min.js'%}"></script>
    <script src="{% static 'admin/plugins/datamaps/datamaps.world.min.js'%}"></script>
    <!-- Morrisjs -->
    <script src="{% static 'admin/plugins/raphael/raphael.min.js'%}"></script>
    <script src="{% static 'admin/plugins/morris/morris.min.js'%}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'admin/plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'admin/plugins/pg-calendar/js/pignose.calendar.min.js'%}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'admin/plugins/chartist/js/chartist.min.js'%}"></script>
    <script src="{% static 'admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js'%}"></script>



    <script src="{% static 'admin/js/dashboard/dashboard-1.js'%}"></script>

</body>

</html>