{% extends 'panchayathtem.html' %}
            {% block content %}
            
            <table class="table table-hover table table-basic">
                <tr>
                 
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Adhar no</th>
                    <th>District</th>
                    <th>Panchayath</th>
                    <th>Ward</th>
                    <th>Contact</th>
                    <th>Email</th>
                    
                    </tr>
                    {% for q in q %}
                    <tr>
                        
                        <td>{{q.adsname}}</td>
                        <td>{{q.adsgender}}</td>
                        <td>{{q.adsadharno}}</td>
                        <td>{{q.adsdistrict}}</td>
                        <td>{{q.adspanchayath}}</td>
                        <td>{{q.adsward}}</td>
                        <td>{{q.adscontact}}</td>
                        <td>{{q.adsemail}}</td>
                        
                        
                    </tr>
                    {% endfor %}

            </table>  
            {% endblock content %}
      