{% extends 'publichometem.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center bg-danger text-white">
            <h2>COMPLAINT ENTRY</h2>
        </div>
        <div class="card-body" style="padding: 50px;">
            <form action="" method="post">
                {% csrf_token %}
                {{ pr.as_p }}
                
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success btn-block">Register</button>
                    <a href="complaintsview2" class="btn btn-info">VIEW</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
