{% extends 'registertemplate.html' %}
            {% block content %}

        
            <table class="table table-hover table table-basic">
                <tr>
                    <th>COMPLAINT ID</th>
                    <th>REPLY</th>
                    <th>REPLY DATE</th>
                    
            </tr>
            {% for cp in cp %}
            <tr>
                <td>{{cp.replyid}}</td>
                <td>{{cp.reply}}</td>
                <td>{{cp.redate}}</td>
              </tr>
              {% endfor %} 
            </table> 
           <center> <a href="http://127.0.0.1:8000/complaintsview2" class="btn btn-success">BACK</a></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            
            {% endblock content %}
      