{% extends 'registertemplate.html' %}
{% block content %}
        <h2 class="text-center alert alert-danger"> WORK COMPLETE REGISTER</h2>
        
        <center>
            <form action="" method="post">
                {% csrf_token %}
                {{fm.as_p}}
                <input type="submit" class="btn btn-success" value="Register">
                
     <a href="http://127.0.0.1:8000/workentryview2" class="btn btn-success">BACK</a>
            </form></center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% endblock content %}

    